.error-404 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__title,
    &__subtitle,
    &__button {
        grid-column: 1 / 17;
    }
    &__title {
        font-size: 20rem;
        text-align: center;
    }
    &__subtitle {
        text-align: center;
    }
    &__button {
        margin-top: 2rem;
        justify-self: center;
    }
}